[Unit]
Description=Datasette Order Exploder
After=network.target

[Service]
Type=simple
User=plchuser
Environment=DATASETTE_SECRET=
WorkingDirectory=/home/plchuser/order-exploder
ExecStart=/home/plchuser/order-exploder/start_datasette.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
